#Terminal-Page
  position relative
  width 100vw
  height 100vh

  .frame
    background-color: transparent;
    box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
    height: 96%;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    pointer-events: none;
