:root {
  --global-font-size: 14px;
  --font-stack: VonwaonBitmap, georgia, serif;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  position: relative;
}

code {
  font-family: VonwaonBitmap, monospace;
}

.index-doodle-wraper {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}

