body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: VonwaonBitmap, georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  /*font-kerning: normal;*/
  font-size: 12px;
}

code {
  font-family: VonwaonBitmap, monospace;
}
