@font-face {
  font-family: "JetBrainsMono";
  src: url("./fonts//JetBrainsMono-Bold.ttf");
}

:root
  --global-font-size 14px
  --font-stack VonwaonBitmap, georgia, serif
  --code-font-stack JetBrainsMono, georgia, serif
  --code-bg-color #b8eaff
  --blockquote-bg-color #f2c1ff

body
  color var(--font-color)
  width 100vw
  height 100vh
  background-color var(--background-color)
  position relative
  overflow auto

pre, code
  font-family var(--code-font-stack)

blockquote
  background-color var(--blockquote-bg-color)
  &::after
    left 0.5ch
  p
    margin 0

h1, h2, h3, h4, h5, h6
  text-shadow -0.1em 0.1em #ff5e5e, 0.2em -0.1em 0em #5e5eff
  padding-left 0.4em
  margin-top var(--global-line-height)
  & > a
    color #5e5eff
    text-shadow -0.1em 0.1em var(--font-color), 0.1em -0.1em 0em #ff5e5e


ol li::before
  position: absolute;
  left: 0;
