@import "global.styl"

.container {
  background-color: #eee;
  padding-top: calc(var(--global-space));
  padding-bottom: calc(var(--global-space));
}

.main-content-wrapper
  width 100vw
  height 100vh
  position relative
  overflow auto

.example
  &::before
    content '🌰'
    display block
    position absolute
    font-size 18px
    top -20px
    left 0px
  margin-top 24px
  position relative

.doodle-background
  width 100vw
  height 100vh
  position absolute
  top 0
  left 0
  z-index -1
